@media (max-width: 1100px) {

    .navbar{
        text-align: center;
    }
    
    .nav-items .navbar-link {
        margin: 0;
        background-color: transparent;
        padding: 3px;
        width: 100px;
    }
    
    .nav-items a{
        display: block;
        text-align: center;
    }
    
    .navbar-brand img{
        width: 250px;
        margin-left: 0;
    }

    .case{
        margin-bottom: 0
    }

    /*Changes*/
    .section-1{
        /*background: none;*/
        background: url("../assets/header-sq.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 60px 0;
        color: white;
    }

    .scroll{
        /*margin: 0 0 0 100%*/
        display: none;
    }

    .image-side img{
        display: none;
    }

    .list img{
        width: 25px;
    }

    .listed{
        width: 100%;
    }

    li{
        padding: 8px 10px 8px 0px
    }
    
    ul li{
        padding: 8px;
    }
    
    .list span{
        font-weight: 500;
        font-size: 15px;
    }

    section .left{
        display: none
    }

    .section-1 h1{
        font-size: 40px;
    }

    .case{
        margin: 0;
    }

    .section-2-body{
        width: 100%;
        height: auto;
    }

    .section-2-head{
        margin-top: 0;
    }

    .section-2-body p{
        width: 100%;
    }

    .section-3{
        width: 100%
    }

    .section-3 p{
        width: 100%;
        font-size: 18px
    }

    .section-4-head{
        font-size: 22px;
    }

    .linear-box, .linear-box-2, .linear-box-3{
        /* width: 460px; */
        height: 100%;        
    }

    .linear-box, .linear-box-2, .linear-box-3{
        padding: 0 30px;
    }

    .section-4-head{
        margin-bottom: 30px;
    }

    .section-4-m{
        margin: 0;
        padding: 0
    }

    .get-started p{
        width: 100%;
    }

    .get-started-img img{
        display: none;
    }

    .get-started img{
        width: 100px;
        margin-top: 30px;
    }

    .section-5{
        margin: 0;
        padding: 0;
    }

    .footer{
        background: url("../assets/footer.jpg");
        background-size: cover;
        color: white;
        background-position: contain;
        height: auto;
        width: 100%;
    }

    .footer h1{
        font-size: 15px;
    }
    
    .footer p{
        font-size: 12px;
    }
    
    .last .last-P{
        font-size: 12px;
    }

}